body {
    display: flex;
    flex-direction: column;
    background-color: #F7E0D2;
    margin: 0px;
    padding: 0px;
    margin-top: 70px;
}

html {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
}

.title-bar {
    display: flex;
    background-color: #64303e;
    height: 50px;
    width: 100%;
    border: 5px solid transparent;
    padding: 0px;
    position: fixed;
    align-items: center;
    top: 0;
    user-select: none;
}

.title-bar-container {
    flex-wrap: wrap;
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.title-bar-text {
    display: flex;
    color: #FBF6E4;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-user-drag: none;
}

.nav-menu-button-image {
    background-color: #6E122D;
    border: 3px solid #52081E;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    padding: 3px;
    -webkit-user-drag: none;
}

.nav-menu-button-image:hover {
    background-color: #86213f;
}

.nav-menu {
    display: flex;
    position: fixed;
    background-color: #E3C3B9;
    width: 160px;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    top: 60px;
    left: -100%;
    transition: 50ms;
}

.nav-menu.active {
    left: 0;
    transition: 450ms;
}

.nav-menu ul {
    background-color: #E3C3B9;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    align-items: center;
}

.nav-menu-image {
    background-color: #6E122D;
    border: 3px solid #52081E;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
    -webkit-user-drag: none;
}

li a {
    color: #5B0315;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    padding: 10px 10px;
}

li a:hover {
    background-color: #d3b1a7;
}

.nav-menu-link.active {
    background-color: #d3b1a7;
}

.nav-menu-link {
    display: flex;
    width: 100%;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}

.create-todo-button-image {
    background-color: #6E122D;
    border: 3px solid #FBF6E4;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
    -webkit-user-drag: none;
}

.create-todo-button-container {
    display: flex;
    height: 50px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.create-todo-button {
    display: flex;
    background-color: #6E122D;
    border: 3px solid #52081E;
    border-radius: 5px;
    width: 75%;
    height: 100%;
    color: #FBF6E4;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.create-todo-button:hover {
    background-color: #86213f;
}

.todo-lists-list-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-color: #8a1c3d #5a0921;
    scrollbar-width: thin;
    background-color: #F7E0D2;
    width: 100%;
    height: calc(100vh - 130px);
    margin-top: 10px;
    align-content: flex-start;
}

.todo-list-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #E3C3B9;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.todo-list-type-image {
    background-color: #6E122D;
    border: 3px solid #52081E;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
    align-items: center;
    -webkit-user-drag: none;
}

.todo-list-card:hover {
    background-color: #d3b1a7;
}

.todo-list-type-image:hover {
    background-color: #86213f;
}